<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.galichfactory.souzgruz">
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.QUICKBOOT_POWERON" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	
	
	
	<application
		android:allowBackup="true"
		android:icon="@mipmap/icon"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/icon"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		android:usesCleartextTraffic="true"
		tools:ignore="GoogleAppIndexingWarning"
		android:screenOrientation="portrait"
		>

		<service
			android:name="com.galichfactory.souzgruz.FirebasePushService"
			android:exported="false">
			<intent-filter>
				<action android:name="com.google.firebase.MESSAGING_EVENT" />
			</intent-filter>
		</service>

		<service
			android:name="com.galichfactory.souzgruz.OffersUpdateService" />
		
		<receiver android:name="com.galichfactory.souzgruz.receivers.AlarmReceiver" />
		<receiver android:name="com.galichfactory.souzgruz.receivers.AlarmBootReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.QUICKBOOT_POWERON" />
				<action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
				<action android:name="android.intent.action.REBOOT" />
			</intent-filter>
		</receiver>
		
		<activity
			android:screenOrientation="portrait"
			android:name="com.galichfactory.souzgruz.activities.AuthActivity" />
		<activity
			android:screenOrientation="portrait"
			android:name="com.galichfactory.souzgruz.activities.SplashActivity"
			android:theme="@style/Splash">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:screenOrientation="portrait"
			android:name="com.galichfactory.souzgruz.activities.DetailsActivity" />
		<activity android:screenOrientation="portrait"
			android:name="com.galichfactory.souzgruz.activities.MainActivity" />
	</application>

</manifest>